<div class="html">
    <app-footer></app-footer>

    <router-outlet></router-outlet>

    <button style="display: none; margin-right: 30px; background-color: rgb(236, 58, 58);color: white;padding: 10px;font-size: 10px;position: absolute;top: 30%;left: 20%;
    cursor: pointer;" mat-button (click)="checkChild()">Mock App Error</button>

    <button style="margin-right: 30px; background-color: rgb(236, 58, 58);color: white;padding: 10px;font-size: 10px;position: absolute;top: 25%;left: 25%;
cursor: pointer;" mat-button (click)="checkChildTC1()">Mock App Error TC1</button>
    <button style="margin-right: 30px; background-color: rgb(236, 58, 58);color: white;padding: 10px;font-size: 10px;position: absolute;top: 25%;left: 45%;
cursor: pointer;" mat-button (click)="checkChildTC2()">Mock App Error TC2</button>

    <button style="margin-right: 30px; background-color: rgb(236, 58, 58);color: white;padding: 10px;font-size: 10px;position: absolute;top: 25%;left: 65%;
cursor: pointer;" mat-button (click)="checkChildTC3()">Mock App Error TC3</button>
</div>