.button {
    margin: 10px;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 10px;
    margin-bottom: 28px;
    color: white;
    background-color: rgb(2, 204, 2);
    border: none;
    box-shadow: 4px 3px #919090;
}

.bubble {
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
}

.tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

.init-message {
    background-color: rgb(218, 218, 218);
    color: black;
    border-radius: 10px;
    text-align: center;
    min-height: 50px;
    font-size: 17px;
    padding-top: 10px;
    width: 400px;
    margin-top: 15px;
    margin-left: 17px;
    padding-left: -16px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.first-row {
    display: inline-block;
}

.second-row {
    display: inline-block;
}

.third-row {
    display: inline-block;
}

.fourth-row {
    float: right;
    display: inline-block;
}

.init-button-message {
    background-color: white;
    color: black;
    text-align: center;
    min-height: 50px;
    font-size: 10px;
    /* padding-top: 20px; */
    margin-top: 20px;
    margin-left: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

.init-button-message .badge {
    position: absolute;
    padding: 5px 16px;
    border-radius: 50%;
    background: red;
    color: white;
    top: 150px;
    margin-left: -9px;
}

.message.to {
    /* width: 65%; */
    background-color: #009fc7;
    color: white;
    border-radius: 10px;
    text-align: inherit;
    min-height: 35px;
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 6px;
    padding-top: 10px;
    font-family: PTSans-Regular, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}

.message.from {
    background-color: rgb(236, 236, 236);
    color: black;
    border-radius: 10px;
    text-align: left;
    min-height: 35px;
    font-size: 19px!important;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-family: PTSans-Regular, sans-serif;
    width: fit-content;
    padding-right: 15px;
    font-weight: 700;
}

body {
    font-family: Arial;
}

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

h2 {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
    font-family: Comic Sans MS;
}

.open-button {
    background-color: rgba (255, 255, 255, 0.8);
    color: rgba (0, 0, 0, 0.7);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    button: 23px;
    right: 28px;
    width: 280 px;
}

.chat-popup {
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 5px;
    border: 0px solid black;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    margin-right: 20px;
}

.font-container {
    max-width: 400px;
    padding: 10px;
    background-color: white;
}

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    min-height: 200px;
}

.greetings {
    position: relative;
    font-size: 17px!important;
    font-family: PTSans-Regular, sans-serif;
    font-weight: 700;
    letter-spacing: 0;
}

.size-20 {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 5px;
    position: relative;
    color: #041e41;
    font-size: 15px!important;
    font-family: PTSans-Regular, sans-serif;
    font-weight: 700;
    letter-spacing: 0;
}

.greetings.main {
    background: #009fc7;
    padding: 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.greetings.second {
    font-size: 16px !important;
    font-weight: 500;
    padding-left: 10px;
}

.windowid {
    /* overflow: auto; */
    padding-bottom: 1px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    height: 450px;
    width: 350px;
}

#help {
    display: block;
}

.display-none {
    display: none;
}

.display-show {
    display: block;
}


/* .btn:hover {background-color: rgb(241, 241, 241);} */

.btn {
    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
    padding-bottom: 1%;
    padding-top: 1%;
}

.disabledBtn {
    margin: 10px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 28px;
    color: black;
    background-color: rgb(219, 216, 216);
}

.width-30 {
    width: 30%;
}

#window-id {
    float: right;
    height: 360px;
    width: 300px;
    bottom: 15px;
    position: relative;
    right: 0px;
}

#close-button {
    border: none;
    font-size: 15px;
    color: white;
    background-color: #009fc7;
}
#close-span {
    right: -70px;
    position: relative;
}
#min-span{
    position: fixed;
    padding: 2px;
    right: 63px;
    font-size: 10px;
}
.fourth-row .content{
    margin-left: 10px;
}

#kedb-response{
    display: none;
    font-size: 10px;
}
#kedb{
    padding-top: 0px;
    margin-left: 0px;
    background-color: white;
    color: #2a3466;
    font-weight: 700;
}
#kedb-true{
    font-size: 12px;
    display: none;
    margin-left: 0px;
    background-color: white;
    color: #2a3466;
    font-weight: 700;
}
#contentid{
    padding-top: 3px;
    height: 10px;
    text-align: left;
    border-radius: 20px;
    background-color: white;
    color: #2a3466;
    font-weight: 700;
    display: none;
}

#double-arrow{
    margin-right:10px
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    margin-bottom: 100px;
    top: 30%;
    left: 44%;
    z-index: 100;
    margin: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.options {
    cursor: pointer;
    padding: 5px;
    text-align: left;
    list-style: none;
    font-size: 14px!important;
    margin-left: 10px;
    font-family: PTSans-Regular, sans-serif;
    width: fit-content;
    padding-right: 15px;
}

.options:hover {
    color: #009fc7;
    font-weight: 700;
}

@keyframes flash {
    0% {
        background-color: rgb(2, 204, 2);
    }
    20% {
        background-color: red;
    }
    40% {
        background-color: rgb(2, 204, 2);
    }
    60% {
        background-color: red;
    }
    80% {
        background-color: rgb(2, 204, 2);
    }
    100% {
        background-color: red;
    }
}

#loader-id {
    border-radius: 0px 0px 10px 10px;
    display:none; 
    background:rgba(0,0,0,0.5);
    width: 100%;
    height: 88%;
    position: absolute;
    top: 43.5px;
    z-index: +999;
}

#restart-id {
    font-size: 18px;
    text-align: center;
    text-align: center;
}

#incident-id {
    font-weight: 700;
}

#ticket-response.message.to{
    background-color: #ffffff;
    color: #131d62;
}
#kedb-false {
    font-size: 15px;
    display: none;
    margin-left: 0px;
    background-color: white;
    color: #2a3466;
    font-weight: 700;
}
#error-screen{
    color: #2a3466;
    margin-left: 10px;
    font-family: PTSans-Regular, sans-serif;
    font-weight: 700;
    font-size: 12px;
}

label {
    font-size: 15px;
    margin-left: 0px;
    background-color: white;
    color: #2a3466;
    font-family: PTSans-Regular, sans-serif;
    font-weight: 700;
}

#userInputDescription{
    height: 20%;
    width: 65%;
    font-weight: 700;
    font-family: PTSans-Regular, sans-serif;
}

#incident-button{
    padding: 5px 10px;
    font-family: PTSans-Regular, sans-serif;
}
.help-button {
    float: right;
    margin-right: 40px;
    margin-bottom: 40px;
}
#feedback {
    display: none;
    font-size: 12px;
    bottom: 20px;
    position: absolute;
}
#userfeedback {
    height: 20%;
    font-weight: 700;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 95%;
}
#possitive{
    font-size:20px;
    cursor: pointer;
    padding: 5px;
}
#negative{
    font-size:20px;
    cursor: pointer;
    padding: 5px;
}
#feedback-ok{
    display: none;
    font-size: 13px;
}
.feedback-button{
    border-radius: 15px;
    color: white;
    background-color: rgb(0, 159, 199);
    box-shadow: 4px 3px #919090;
    width: 30px;
    height: 30px;
}
.text-align-center {
    text-align: center;
}
#create-Incident{
    display: none;
    text-align: center;
}
#restart {
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    left: 60px;
    bottom: 10px;
}
.load-more{
    font-size: 13px!important;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    color: #009fc7;
}

#suggestion{
    overflow-y: auto;
    max-height: 115px;
}

.bubble{
    position: relative;
    padding: 5px;
    border: 2px solid #000;
  }
.row{
    width: 100%;
}
.feedback-submit{
    padding: 5px 12px;
    border-radius: 10px;
    color: white;
    background-color: rgb(2, 204, 2);
    border: none;
    box-shadow: 4px 3px #919090;
}